<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/common.css">
    <link rel="stylesheet" type="text/css" href="../styles/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&display=swap" rel="stylesheet">
    <link rel="icon" href="../images/cage.jpg">
    <title>OnlyMemes</title>
  </head>
  <body>
    <header>
    </header>
    <img src="../images/Onlymemeslogo2.jpg" class="center">
    <div class="profilebox">
      <div class="prof 1"> Cats </div>
      <div class="prof 2"> NonCats </div>
      <div class="prof 3"> Just Cage </div>
      <div class="prof 4"> Other </div>
      </div>
    <footer>
    </footer>
  </body>
</html>
