<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"></SCRIPT>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./styles/common.css">
    <link rel="stylesheet" type="text/css" href="./styles/profile.css">
    <link rel="icon" href="./images/cage.jpg">
    <title>OnlyMemes</title>
  </head>
  <body>
    <header>
      <div class="profilename">
      </div>
      <div class="profim">
	<img src="">
      </div>
      <div class="descr">
      </div>
    </header>
    <div class="posts">
    </div>
    <footer>
    </footer>
  </body>
</html>
