<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./styles/common.css">
    <link rel="stylesheet" type="text/css" href="./styles/header.css">
    <link rel="icon" href="./images/cage.jpg">
    <title>OnlyWAP</title>
  </head>
  <body>
    <header>
    </header>
    <div class="wap">
      <img src="./images/wap.jpg" class="center">
    </div>
    <footer>
    </footer>
  </body>
</html>
