html {
    height: 100%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
li {
    display: inline-block;
}
ul {
    list-style-type: none;
    text-align: center;
    width: 100%;
    word-spacing: 10px;
    margin: 0;
    padding: 0;
    padding-bottom: 1%;
}
li a{
    text-decoration: none;
    color: #2aade3;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
img {
    border-radius: 1em;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: auto;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
body {
    text-align: center;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    max-width: 100%;
    margin-right: auto;
    text-align: center;
    object-fit: contain;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-right: 3%;
    padding-left: 3%;
}

div#main {
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius:1em;
    border-style: dotted;
}
div#features {
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
    border-radius:1em;
    max-width: 95%;
} 

div#about {
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}
div#first {
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}
div#tagline {
    font-size: 20px;
    padding: 1%;
}
div#title {
    font-size: 30px;
    padding: 1%;
    font-size: 36px;    
}
p {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
}
div#picbx {
    display: flex;
    padding-top: auto;;
    padding-bottom: auto;;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    justify-content: center;
}
div#social {
    border-style: dotted;
    border-radius:1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}
.pic {
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.fa {
  max-width: 50%;;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: #2aade3; 
  padding: 1.5%;
}
.fa:hover {
    opacity: 0.7;
}

div#picbx {
    align-items: baseline;
}
div#sean {
    display:flex;
    flex: 1;
    max-width: 30%;
    flex-direction: column;
    border-radius:1em;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    justify-content: center;
}
div#lance {
    display:flex;
    flex: 1;
    max-width: 30%;
    flex-direction: column;
    border-radius:1em;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    justify-content: center;
}
div#tahlia {
    display:flex;
    flex: 1;
    max-width: 30%;
    flex-direction: column;
    border-radius:1em;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    justify-content: center;
}
div#boxone {
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    justify-content: center;

}
div#boxtwo {
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    justify-content: center;
}
div#boxthree {
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    justify-content: center;
}