html {
    height: 100%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.profilebox {
    display: flex;
    min-height: 100%;
    object-fit: contain;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

}
.profim {
    height: auto;
    display: flex;
    position: relative;
    object-fit: contain;
    justify-content: center;
}
.image {
    border-radius: 1em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #2aade3;
}

.profim:hover .overlay{
    opacity: 1;

}
.descr {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.profilecard {
    flex: 1;
    position: relative;
    background-color: #2aade3;
    color: white;
    width: 50%;
    justify-content: center;
    overflow: hidden;
    horizontal-align: center;
    align-items: stretch;
    vertical-align: middle;

}
a { 
    text-decoration: none;
    background-color: none; 
    color: white;
}
.profilebox > div {
    display: flex;
    flex-basis: calc(50% - 50px);
    justify-content: center;
    flex-direction: column;
    border: 5px solid #2aade3;
    border-radius:1em;
}
div.wap {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
}
body {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    max-width: 50%;
}
.footer {
    max-width: 50%;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}