html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
}
.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.profilebox {
    display: flex;
    min-height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.profilebox > div {
    display: flex;
    flex-basis: calc(50% - 50px);
    justify-content: center;
    flex-direction: column;
    border: 5px solid #2aade3;
    border-radius:1em;
}
div.wap {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    height: 100%;
    align-items: center;
    justify-content: center;
}
