html {
    height: 100%;
}
header {
    height: auto;
    display: flex;
    max-width: 100%;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 5px solid #2aade3;
    border-radius:1em;
    object-fit: contain;
    background-color: #2aade3;
    color: white;
    align-items: center;
 }

body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
}
.profim {
    flex-direction: row;
    max-width: 100%;
    height: auto;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    horizontal-align: center;
}
img {
    border-radius: 1em;
}

.profilename {
    font-weight: bold;
    border-radius: 8px;
    height: auto;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 15%;
    font-size: 32px;
    text-color: white;
    vertical-align: baseline;
    text-align: center;
    max-width: 100%;
    border: 2px solid white;
}
.text {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    max-width: 100%;
    margin-right: auto;
    text-align: center;
    object-fit: contain;
}
.imgdesc {
    display: flex;
    flex-direction: row;
    border: 5px solid white;
    border-radius: 1em;
    object-fit: contain;
    vertical-align: baseline;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.descr {
    border-radius: 8px;
    height: auto;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: baseline;
    align-items: center;
    font-size: 18px;
}
.posts {
    display: flex;
    width: 50%;
    overflow: auto;
    border: 8px solid #2aade3;
    border-radius:1em;
    vertical-align: baseline;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    object-fit: contain;
}
.footer {
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}